
/**********tariff_providers**********/
table.collapse {border-collapse: collapse;}


#tariff_providers{
border-left : solid 2px #224466; 
color:#224466;
width : 100%; 
height : 100%; 
overflow : auto; 
overflow-x: hidden;
-ms-overflow-x: hidden;
 position: absolute;
   		top: 0%;
        left: 0%;
        float: left;
        width: 15%;
		height:450px;
		text-align:left;
}


#tariff_providers a{
display: block;
width: 100%;
text-decoration: none;
font-weight: bold;
/*border-bottom: 0px solid gray;*/
color:#224466;
}

#tariff_providers a.simple{
display: block;
width: 100%;
height:25px;
text-decoration: none;
font-weight: bold;
background-image:url(../client/nav-bg.png); 
background-repeat:repeat-x;
color:#224466;
}

#tariff_providers a.simple:hover{
background-color:#84B8D0;
}

#tariff_providers a:hover{
background-color:#84B8D0;
}

#tariff_providers a.home{
	background:url(../images/icons/list_normal.png ) no-repeat 0 0; width:15px; height:15px; 
	border-bottom: 0px solid gray;
	}
#tariff_providers a.home:hover{
	background:url(../images/icons/list_selected.png) no-repeat 0 0; width:15px; height:15px;
	border-bottom: 0px solid gray;
	}
#tariff_providers a.no{
	width: 15%;
	float:right;
	border-bottom: 0px solid gray;
	}

/**********tariff_services**********/
table.collapse {border-collapse: collapse;}


#tariff_services{
border-left : solid 2px #224466; 
color:#224466;
width : 100%; 
height : 100%; 
overflow : auto; 
overflow-x: hidden;
-ms-overflow-x: hidden;
 position: absolute;
   		top: 0%;
        left: 15%;
        float: left;
        width: 15%;
		height:450px;
		text-align:left;
}


#tariff_services a{
display: block;
width: 100%;
text-decoration: none;
font-weight: bold;
/*border-bottom: 0px solid gray;*/
color:#224466;
}

#tariff_services a.simple{
display: block;
width: 100%;
height:25px;
text-decoration: none;
font-weight: bold;
background-image:url(../client/nav-bg.png); 
background-repeat:repeat-x;
color:#224466;
}

#tariff_services a.simple:hover{
background-color:#84B8D0;
}

#tariff_services a:hover{
background-color:#84B8D0;
}

#tariff_services a.home{
	background:url(../images/icons/list_normal.png ) no-repeat 0 0; width:15px; height:15px; 
	border-bottom: 0px solid gray;
	}
#tariff_services a.home:hover{
	background:url(../images/icons/list_selected.png) no-repeat 0 0; width:15px; height:15px;
	border-bottom: 0px solid gray;
	}
#tariff_services a.no{
	width: 15%;
	float:right;
	border-bottom: 0px solid gray;
	}
	
	/**********tariff_effective**********/
table.collapse {border-collapse: collapse;}


#tariff_effective{
border-left : solid 2px #224466; 
color:#224466;
width : 100%; 
height : 100%; 
overflow : auto; 
overflow-x: hidden;
-ms-overflow-x: hidden;
 position: absolute;
   		top: 0%;
        left: 30%;
        float: left;
        width: 15%;
		height:450px;
		text-align:left;
}


#tariff_effective a{
display: block;
width: 100%;
text-decoration: none;
font-weight: bold;
/*border-bottom: 0px solid gray;*/
color:#224466;
}

#tariff_effective a.simple{
display: block;
width: 100%;
height:25px;
text-decoration: none;
font-weight: bold;
background-image:url(../client/nav-bg.png); 
background-repeat:repeat-x;
color:#224466;
}

#tariff_effective a.simple:hover{
background-color:#84B8D0;
}

#tariff_effective a:hover{
background-color:#84B8D0;
}

#tariff_effective a.home{
	background:url(../images/icons/list_normal.png ) no-repeat 0 0; width:15px; height:15px; 
	border-bottom: 0px solid gray;
	}
#tariff_effective a.home:hover{
	background:url(../images/icons/list_selected.png) no-repeat 0 0; width:15px; height:15px;
	border-bottom: 0px solid gray;
	}
#tariff_effective a.no{
	width: 15%;
	float:right;
	border-bottom: 0px solid gray;
	}

	/**********tariff_clientpro**********/
table.collapse {border-collapse: collapse;}


#tariff_clientpro{
border-left : solid 2px #224466; 
color:#224466;
width : 100%; 
height : 100%; 
overflow : auto; 
overflow-x: hidden;
-ms-overflow-x: hidden;
 position: absolute;
   		top: 0%;
        left: 45%;
        float: left;
        width: 55%;
		height:450px;
		text-align:left;
}


#tariff_clientpro a{
display: block;
width: 100%;
text-decoration: none;
font-weight: bold;
/*border-bottom: 0px solid gray;*/
color:#224466;
}

#tariff_clientpro a.simple{
display: block;
width: 100%;
height:25px;
text-decoration: none;
font-weight: bold;
background-image:url(../client/nav-bg.png); 
background-repeat:repeat-x;
color:#224466;
}

#tariff_clientpro a.simple:hover{
background-color:#84B8D0;
}

#tariff_clientpro a:hover{
background-color:#84B8D0;
}

#tariff_clientpro a.home{
	background:url(../images/icons/list_normal.png ) no-repeat 0 0; width:15px; height:15px; 
	border-bottom: 0px solid gray;
	}
#tariff_clientpro a.home:hover{
	background:url(../images/icons/list_selected.png) no-repeat 0 0; width:15px; height:15px;
	border-bottom: 0px solid gray;
	}
#tariff_clientpro a.no{
	width: 15%;
	float:right;
	border-bottom: 0px solid gray;
	}

  .error {
  font-family: Tahoma;
font-size: 8pt;
  color: red;
  margin-left: 0px;
  display:none;
  }